@import url('https://fonts.googleapis.com/css2?family=Glory:wght@500;600&display=swap');

html {
    overflow-x: hidden;
}
body {
    margin: 0;
}
/* FOR QUILL.JS EDITOR */
.text-editor {
  width: 1086px;
  margin: 0 auto;
}
.ql-editor {
  min-height: 140px;
}
.ql-container {
    background-color: white;
    border-radius: 0 0 10px 10px;
}
.ql-font-arial,
.ql-font span[data-value="arial"]::before {
  font-family: Arial, sans-serif;
}
.ql-font-comic-sans,
.ql-font span[data-value="comic-sans"]::before {
  font-family: "Comic Sans MS", cursive, sans-serif;
}
.ql-font-courier-new,
.ql-font span[data-value="courier-new"]::before {
  font-family: "Courier New";
}
.ql-font-georgia,
.ql-font span[data-value="georgia"]::before {
  font-family: Georgia, serif;
}
.ql-font-helvetica,
.ql-font span[data-value="helvetica"]::before {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
.ql-font-lucida,
.ql-font span[data-value="lucida"]::before {
  font-family: "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", sans-serif;
}