@import url('https://fonts.googleapis.com/css2?family=Glory:wght@500;600&display=swap');

html {
    overflow-x: hidden;
}

body {
    background-color: rgb(223, 223, 223);
    margin: 0;
}

/* Login page */
.login-page-wrapper {
    position: absolute;
    top: 30%;
    left: 0;
    right: 0;    
}

.login-page-wrapper .login-form {
    margin: auto;
    max-width: fit-content;
    max-height: 40%;
}
.login-page-wrapper .form-item {
    margin: 20px;
}

/* Loading spinner for Login etc */
.loading-login-spinner {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}